scikit-learn
numpy
pandas
torch==1.10.0
scipy==1.8.0
scikit-image==0.18.3
Pillow==9.0.1
opencv-python==4.5.4.60
opencv-contrib-python==4.5.5.62
google-api-core==2.3.2
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-cloud-vision==2.6.3
googleapis-common-protos==1.54.0
fuzzywuzzy==0.18.0
nltk==3.6.5